*,*:before,*:after{outline:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
.flex{display:-webkit-flex;display:flex;}
.flex-wrap{display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.flex-align{-webkit-align-items:center;align-items:center;}
.w-full{width:100%;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JMH;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: black;
    padding-bottom: 100px;
}

.container{
    width: 960px;
    height: 540px;
    display: flex;   
    background: black;
}

.container .videos{
    width: 300%;
    height: 200%;
    padding: 10px 40px 0px 0px;
    display: flex;
    flex-direction: column;

}

.container .videos video{
    width: 95%;
    height: 100px;
    margin: 20px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s;
}

.container .videos video:nth-child(1){
    margin-top: 0;
}

.container .videos video:hover,
.container .videos .active{
    transform: scale(1.06);
    border: 1px solid whitesmoke;
}

.container .main-video{
    width: 1300%;
    padding: 0px;
}

.container .main-video video{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid whitesmoke;
}

@media screen and (max-width:480px) {
#simp .simp-controls .simp-volume,#simp .simp-controls .simp-others{display:none;}
#simp .simp-controls .simp-time{margin-right:10px;}
}
@media screen and (max-width:370px) {
#simp .simp-time .simp-slash,#simp .simp-time .end-time{display:none;}
}